/* top right bottom left */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0; 
}

body {
  background-color: #f0f8ff;
  color: #333;
  font-family: 'Barlow', sans-serif;
  position: relative;
  width: 100%;
}

.corps {
  display: flex;
  flex-direction: column;
  height: auto;
  /* max-width: 1200px; */
  margin: 0px; /* vert hor */
  overflow-y: auto;
  padding: 10px 10px 10px 10px; /* top right bottom left */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fonctionnalites {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #0066cc;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.button:hover {
  background-color: #004080;
}

#photoSurf{
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  max-width: 800px;
  padding: 5em 5em;
  width: 100%;
}

input {
  width: 20em;
}

.error {
  background-color: white;
  color: red;
  font-weight: bold;
}

.div_stock_materiel {
  margin-left: auto;
  margin-right: auto;
}

.div_stock_materiel tr:hover {
  cursor: pointer;
}

.table_cours_stock {
  border-collapse: collapse;
  flex-grow:1;
  height:100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  overflow: auto;
  padding: 10px;
  width: 100%;
}

.table_cours_stock td {
  padding: 5px;
}

.btnModifMateriel {
  padding: 4px;
  width: auto;
}
.btnModif:hover {
  background-color: orange;
}

.formHiddenField {
  display: none;
}